/* Estilos generales y centrado */
body {
  background: linear-gradient(indigo 500 purple 500 pink 500);
  margin: 10;
  padding: 10;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Contenedor principal */
main section {
  background-color: rgb(255, 255, 255);
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Título */
h1 {
  color: #3456b4;
  margin-bottom: 10px;
  font-size: 40px;
}

/* Mensaje */
p {
  font-size: 30px;
  color: #aeacac;
}

footer#footer {
  background-color: #3456b4;
  color: white;
  position: absolute;
  bottom: 10px;
  text-align: center;
  padding: 1rem;
  margin-top: 3rem;
  font-size: 150%;
  color: #ffffff;
}