<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admon Main</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body class="bg-gray-100 text-gray-800">
    <header class="bg-blue-800 text-white text-center py-6">
      <h1 class="text-3xl font-bold">ADMON MAIN</h1>
    </header>

    <main class="p-6 space-y-8">
      <!-- PERFIL DEL USUARIO -->
      <section
        id="perfil-usuario"
        class="bg-white rounded-lg shadow-md p-6 flex flex-col items-center space-y-2"
      >
        <div class="w-32 h-32 mb-4">
          <img
            id="imagen-perfil"
            src="/views/imagenes/logo perfil.jpg"
            alt="Logo perfil"
            class="w-full h-full object-cover rounded-full"
          />
        </div>
        <h3 id="nombre-usuario" class="text-lg font-semibold">
          Nombre completo
        </h3>
        <h3 id="telefono-usuario" class="text-lg font-semibold">
          Número de celular
        </h3>
        <h3 id="cedula-usuario" class="text-lg font-semibold">Cédula</h3>
      </section>

      <!-- TABLA DE USUARIOS -->
      <section class="bg-white rounded-lg shadow-md p-6">
        <h2 class="text-2xl font-bold mb-4 text-center">
          BASE DE DATOS GENERAL
        </h2>
        <div class="overflow-x-auto">
          <table class="table-auto w-full border border-gray-300 mt-5">
            <thead>
              <tr class="bg-gray-100">
                <th class="px-4 py-2 border">Nombre</th>
                <th class="px-4 py-2 border">Teléfono</th>
                <th class="px-4 py-2 border">Cédula</th>
                <th class="px-4 py-2 border">Rol</th>
                <th class="px-4 py-2 border">Estado</th>
              </tr>
            </thead>
            <tbody id="tabla-usuarios"></tbody>
          </table>
        </div>

        <div class="mt-6 text-center">
          <button
            id="btn-cerrar-sesion"
            class="bg-blue-700 text-white px-4 py-2 rounded hover:bg-blue-800 transition"
          >
            Cerrar sesión
          </button>
        </div>
      </section>
    </main>

    <footer class="w-full bg-blue-700 text-white text-center py-4 mt-10">
      &copy; 2025 Proyecto CESDE - Sistema de Notas
    </footer>

    <!-- SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Script principal -->
    <script type="module" src="../app-js/admonMain.js"></script>
  </body>
</html>
